absl-py
aiohttp
aiosignal
astunparse
async-timeout
attrs
blinker
brotlipy
cached-property
cachetools
certifi==2023.5.7
cffi
charset-normalizer
click
cloudpickle
contourpy
cryptography
cycler
cytoolz
dask
flatbuffers
fonttools
frozenlist
fsspec
gast
google-auth
google-auth-oauthlib
google-pasta==0.2.0
grpcio
h5py
idna
imagecodecs
imageio
importlib-metadata
joblib
keras
Keras-Preprocessing
kiwisolver
locket
Markdown
MarkupSafe
matplotlib
multidict
munkres==1.1.4
networkx
neuralgym
numpy
oauthlib
opencv-python==4.7.0.72
opt-einsum
packaging
partd
Pillow
platformdirs
pooch
protobuf==4.21.12
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser
pygame
PyJWT
pyOpenSSL
pyparsing
PySocks
python-dateutil
pyu2f
PyWavelets
PyYAML
requests
requests-oauthlib
rsa
scikit-image
scikit-learn
scipy==1.10.1
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
threadpoolctl
tifffile
toolz
tornado
typing_extensions
unicodedata2
urllib3
Werkzeug
wrapt
yarl
zipp
